

/*  here * is universal selecter*/
*{
  /*set the background color */
    background-color: rgb(140, 184, 169);
  }


  marquee{
    color: brown;
    font-size: 50px;
  }


  
  p{
    /*this attribute is use to center the text*/
  text-align: center;  

  /*color attribute set the color of text blue*/
  color: blue;

  border: 20px;
  font-family: verdana;
 
  border-style: solid;
  border-color: blueviolet;
  border-width: 1px;

  }

  .navbar {
/* Padding is used to create space around an element's content*/
padding: 10px 0;
text-align: center;

}
 

/* Menu Styling */
.Menu {
list-style: none;
/*Flexbox is a layout method for arranging items in rows or columns*/
display: flex;
justify-content: center;


}

.Menu li {
display: inline;
color: black;
}

.Menu a {
text-decoration: none;
color: white;
font-size: 18px;
padding: 10px 15px;
transition: 0.3s;
color: black;
}


  .second{
   /* margin creating space around an element, outside of any defined borders*/
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
    font-size: larger;
    
}


